<mat-card>
  <h3 class="header">Sign In</h3>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
          name="email"
        />
        <p
          *ngIf="
            form.get('email')?.invalid &&
            (form.get('email')?.dirty || form.get('email')?.touched)
          "
          class="error"
        >
          Incorrect Email
        </p>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          type="password"
          name="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <p
          *ngIf="
            form.get('password')?.invalid &&
            (form.get('password')?.dirty || form.get('password')?.touched)
          "
          class="error"
        >
          Incorrect password
        </p>
      </mat-form-field>

      <div class="button">
        <p *ngIf="hasErrors" class="error">{{ hasErrors }}</p>
        <button type="submit" mat-button [disabled]="form.invalid || isLogging">
          <span *ngIf="!isLogging">Sign in</span>
          <mat-spinner
            *ngIf="isLogging"
            mode="indeterminate"
            diameter="25"
            class="spinner"
          ></mat-spinner>
        </button>
      </div>
      <div class="p-new-account">
        <p>
          Don't have an account?
          <a href="signup"> Sign up now </a>
        </p>
        <a href="/forgot-password" class="p-forgot-pass">Forgot Password?</a>
      </div>
      <hr />
      <div>
        <button (click)="signInWithGoogle()" class="google-btn">
          <img class="google-logo" src="/assets/google.png" alt="G" />
          <span>Sign in with Google</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
